*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    padding: 20px; /* Or use 1rem consistently */
    margin: 0 auto; /* Center the container */
    max-width: 1200px;
    width: 100%;
}


body{
    background-color: rgba(227, 227, 227, 0.726);
}